Package: com.zimcodes.1stdatelasttime
Name: 1stDateLastTime
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: In your lockscreen, Time is the first to hide. Then the Date follows. 
Maintainer: Zim
Author: Zim
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 136
